METRICS_API_ENDP=https://metrics.api/
METRICS_AUTH_ENDP=https://authentication.service/tokens
METRICS_API_USER=user@example.com
METRICS_API_PASS=some_secret_password
METRICS_DIR=/usr/src/app/metrics
PREFIX=info:doi:10.11647
